body{
    text-align: center;
}
ul {
  list-style-position: inside;
}
.skills {
    color:rgb(229, 34, 219);
}

#aboutNav {
    color:rgb(14, 186, 14);
    padding-left: 0px ;
    padding-right: 50px;
}

#aboutMe {
    color:rgb(14, 186, 14);
}
#skill1{
    color:rgb(113, 53, 216);
}
#skill2 {
    color:rgb(186, 40, 14);
}
#skill3 {
    color:rgb(30, 225, 209);
}